<a
    href="/api/ricardo-lopez-cv.pdf"
    target="_blank"
    rel="noopener noreferrer"
    class="cursor-pointer rounded-full bg-blue-950/60 hover:bg-blue-950/80 text-white px-4 py-2 print:hidden"
>
    Descargar CV
</a>
